<div class="flex flex-col justify-center items-center gap-3 my-4 h-auto sm:px-4 sm:my-10 max-w-7xl mx-auto p-3">
  <div class="bg-[#0EA900] w-auto h-auto rounded-xl sm:mt-10">
    <div class="text-white text-2xl text-center p-3 sm:text-xl">
      <p class="m-0">
        <strong>Parabéns!</strong> Os times foram sorteados com
        <strong>Sucesso!</strong>
      </p>
    </div>
  </div>

  <button (click)="voltar()">Voltar</button>

  <ng-container *ngFor="let opcoes of equipesSorteadas; let i = index">
    <div class="flex flex-col bg-[#E2E2E2] rounded-xl w-full sm:w-auto h-auto p-8">
      <div class="h-auto w-auto">
        <p class="mb-2 font-semibold text-2xl sm:text-4xl">Opção {{ i + 1 }}</p>
      </div>

      <div class="flex flex-wrap gap-4 justify-center sm:justify-between">
        <div *ngFor="let equipe of opcoes; let i_equipe = index" class="bg-white w-full sm:w-[227px] rounded-3xl p-4 m-2">
          <div class="h-auto">
            <p class="text-center font-semibold text-base sm:text-lg">Time {{ i_equipe + 1 }}</p>
            <p *ngFor="let jogador of equipe" class="text-center text-[#9E9E9E] text-base sm:text-sm border-b-[1px] border-[#0EA900] m-0">{{ jogador.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
