<div class="p-5">
  <div class="d-flex flex-column card-login m-auto align-items-center shadow">
    <h2 class="h-auto text-center fs-1 mb-4 mt-4">Cadastro</h2>

    <div class="card-form h-auto p-4">
      <form [formGroup]="cadastroForm" (submit)="onSubmit($event)">
        <div class="form-floating mb-3 h-auto">
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            formControlName="name"
          />
          <label for="name">Nome</label>
        </div>
        <div class="form-floating mb-3 h-auto">
          <input
            class="form-control"
            type="email"
            id="email"
            name="email"
            formControlName="email"
          />
          <label for="email">E-mail</label>
        </div>
        <div class="form-floating w-50 mb-3 h-auto">
          <input
            class="form-control"
            type="password"
            id="password"
            name="password"
            formControlName="password"
          />
          <label for="password">Sua senha</label>
        </div>
        <div class="d-flex gap-4 h-auto" id="confirmeSenha">
          <div class="form-floating w-50 h-auto">
            <input
              class="form-control"
              type="password"
              id="confirm_password"
              name="confirm_password"
              formControlName="confirm_password"
            />
            <label for="confirm_password">Confirme sua senha</label>
          </div>

          <button class="btn btn-success my-auto w-50 h-auto" type="submit">
            Pronto
          </button>

          <button
            type="button"
            class="btn btn-success my-auto w-50 h-auto"
            (click)="voltar()"
          >
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
