* {
    font-family: var(--fonte-primaria);
}

.card-login {
    width: 428px;
    border-radius: 14px;
    height: auto;
    background: var(--gradiente-primario);

    h2,
    a {
        color: var(--cor-primaria);
    }
}

.card-form {
    background-color: var(--cor-primaria);

    h3 {
        color: var(--cor-secundaria);
    }
}

.esqueci-senha {
    color: var(--cor-secundaria);
}

input {
  min-height: auto !important;
  height: auto !important;
}
