<div class="d-flex">
  <div class="d-flex flex-column gap-5 w-50 p-5 imagem-background">
    <div class="mt-5 fs-1 lh-1 h-auto text-center titulo">
      Sorteio Equipes
      <br />Equilibrado
    </div>

    <div class="card w-100 h-50 mb-50px mx-auto">
      <div class="card-body">
        <h5 class="card-title fs-2 h-auto mt-3 mb-3 text-center fw-bold">
          Você é novo?
        </h5>
        <div class="text-center mt-5 h-auto">
          <span>1. Crie sua conta</span>
          <mat-divider class="mt-2"></mat-divider>
        </div>
        <div class="text-center mt-2 h-auto">
          <span>2. Cadastre os jogadores e nível de qualidade de cada um.</span>
          <mat-divider class="mt-2"></mat-divider>
        </div>
        <div class="text-center mt-2 h-auto">
          <span
            >3. Defina a quantidade de jogadores e de times que devem ser
            sorteados</span
          >
          <mat-divider class="mt-2"></mat-divider>
        </div>
        <div class="text-center mt-2 h-auto">
          <span>4. Agora é só sortear!</span>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-50">
    <app-login
      *ngIf="!showCadastro"
      (showCardCadastro)="showCardCadastro($event)"
    ></app-login>

    <app-cadastro
      *ngIf="showCadastro"
      (showCardCadastro)="showCardCadastro($event)"
    ></app-cadastro>
  </div>
</div>
